@import "tailwindcss";
@import "@embeddable.com/remarkable-ui/dist/remarkable-ui.css";
:root {
  /* App Colors */
  --background: #ffffff;
  --foreground: #171717;
  
  /* App Spacing */
  --app-spacing: 1rem;
  --min-width-sidenav: 15.5rem;
  
  /* EM Core Spacing */
  --em-core-spacing-400: 1rem;
  --em-core-spacing-300: 0.75rem;
  --em-core-spacing-100: 0.25rem;
  
  /* EM Core Size */
  --em-core-size-600: 1.5rem;
  
  /* EM Core Border Radius */
  --em-core-border-radius-200: 0.5rem;
  --em-core-border-radius-500: 624.9375rem;
  
  /* EM Core Border Width */
  --em-core-border-width-050: 2px;
  
  /* EM Semantic Colors */
  --em-sem-chart-color-1: #FF5400;
  --em-sem-text-default: #212129;
  --em-sem-background-subtle: #E4E4EA;
  
  /* EM Button Colors */
  --em-btn-pr-background-default: #5C5C66;
  
  /* EM Typography */
  --em-font-size-md: 1rem;
  --em-font-size-sm: 0.875rem;
  --em-font-weight-bold: 700;
  --em-font-weight-medium: 500;
  --em-line-height-l: 1.1875rem;
  --em-line-height-md: 1rem;
  
  /* EM Action Icon */
  --em-action-icon-size-width: 1.25rem;
  --em-action-icon-size-height: 2rem;
  --em-action-icon-padding-top-bottom: 0.5rem;
  --em-action-icon-padding-left-right: 0.125rem;
  
  /* User Colors */
  --user-color-background-1: #C5E4FF;
  --user-color-background-2: #E8D7FF;
  --user-color-background-3: #CFEFCF;
  --user-color-text-1: #1768AF;
  --user-color-text-2: #5B17B2;
  --user-color-text-3: #277A27;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
