@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --app-spacing: 2rem;
  --min-width-sidenav: 15.5rem;
  --em-core-spacing-400: 1rem;
  --em-core-spacing-300: 0.75rem;
  --em-core-border-radius-200: 0.5rem;
  --em-sem-chart-color-1: #FF5400;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
